[submodule "riscv-binutils-gdb"]
	path = riscv-binutils-gdb
	url = https://github.com/user-level-interrupts/riscv-binutils-gdb.git
[submodule "riscv-gcc"]
	path = riscv-gcc
	url = https://github.com/riscv-collab/riscv-gcc.git
[submodule "riscv-glibc"]
	path = riscv-glibc
	url = git://sourceware.org/git/glibc.git
[submodule "riscv-dejagnu"]
	path = riscv-dejagnu
	url = https://github.com/riscv-collab/riscv-dejagnu.git
[submodule "riscv-newlib"]
	path = riscv-newlib
	url = git://sourceware.org/git/newlib-cygwin.git
[submodule "riscv-qemu"]
	path = riscv-qemu
	url = git://github.com/riscv/riscv-qemu.git
